<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>tapi2p</title>
		<script src="js/jquery-1.10.2.min.js"></script>
		<script src="js/underscore-min.js"></script>
		<script src="js/backbone-min.js"></script>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/base-min.css">
		<link rel="stylesheet" href="css/pure-min.css" />
		<link rel="stylesheet" href="css/side-menu.css" />
		<script src="js/tapi2p-backend.js"></script>
		<style>
			html,body,#layout,#main,.content {
				height: 100%;
			}
			.flex {
				height: 70%;

				display: -webkit-flex;
				-webkit-flex-direction: row;

				display: flex;
				flex-direction: column;
			}
			.flex > form {
				-webkit-flex: 1 1 20%;
				flex: 1 1 5%;
			}
			#chatwindow {
				width: 100%;
				height: 200px;
				background-color: #eee;
				border: 1px solid #aaa;

				-webkit-flex: 10 10 80%;
				flex: 1 1 95%;

				overflow-y: auto;
			}
		</style>
	</head>
	<body>
		<script type="text/template" id="tapi2p-main-template">
			<div class="header">
				<h1><%= welcome_message %></h1>
				<h2>Please use the navigation menu to get started</h2>
			</div>
		</script>
		<script type="text/template" id="tapi2p-chat-template">
			<div class="header">
				<h1>Chat</h1>
				<h2>Chat securely with your peers</h2>
			</div>
			<div style="margin-top: 1em;" class="flex">
				<code id="chatwindow">
					<% for(var i=0; i<chatHistory.length; ++i) { %>
					<%= chatHistory[i] %><br/>
					<% } %>
				</code>
				<form class="pure-form">
					<input id="chatinput" type="text" style="width: 100%;" autofocus></input>
				</form>
			</div>
		</script>
		<script type="text/template" id="tapi2p-peers-template">
			<div class="header">
				<h1>Peers</h1>
				<h2>Following peers are online in tapi2p</h2>
			</div>
			<table class="pure-table pure-table-horizontal peertable">
				<thead>
					<% if(peerList.length > 0) { %>
						<th>Nick</th>
						<th>Ip address</th>
						<th>Port</th>
						<th>Additional info</th>
					<% } %>
				</thead>
				<tbody>
					<% for(var i=0; i<peerList.length; ++i) { %>
						<tr>
							<td><%= peerList[i].nick %></td>
							<td><%= peerList[i].addr %></td>
							<td><%= peerList[i].port %></td>
							<% if(peerList[i].conn_status === "ok") %>
								<td></td>
							<% else if(peerList[i].conn_status === "oneway") %>
								<td>Peer's port is not opened correctly. Only one way connection exists.</td>
							<% else %>
								<td>Could not connect to peer.</td>
							<td><%= peerList[i].conn_status %></td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</script>
		<script type="text/template" id="tapi2p-files-template">
			<div class="header">
				<h1>Files</h1>
				<h2>Search and download files from peers</h2>
			</div>
			<table class="pure-table pure-table-horizontal peertable">
				<thead>
					<% if(fileList.length > 0) { %>
						<th>Filename</th>
						<th>Hash</th>
						<th>Ip address</th>
					<% } %>
				</thead>
				<tbody>
					<% for(var ip in fileList) { %>
						<% for(var i=0; i<fileList[ip].length; ++i) { %>
							<tr>
								<td><%= fileList[ip][i].filename %></td>
								<td><%= fileList[ip][i].hash %></td>
								<td><%= ip %></td>
							</tr>
						<% } %>
					<% } %>
				</tbody>
			</table>
		</script>
		<script type="text/template" id="tapi2p-downloads-template">
			<div class="header">
				<h1>Downloads</h1>
				<h2>Monitor ongoing and finished downloads</h2>
			</div>
		</script>
		<script type="text/template" id="tapi2p-error-template">
			<div class="header">
				<h1>Error</h1>
				<h2>An error occurred when initializing tapi2p.</h2>
			</div>
			<h2 class="content-subhead">Error details</h2>
			<p>Could not connect to websocket. Is tapi2p running?</p>
		</script>
		<div id="layout">
			<a href="#menu" id="menuLink" class="menu-link">
				<span></span>
			</a>
			<div id="menu">
				<div class="pure-menu pure-menu-open">
					<ul>
						<li><a class="pure-menu-heading" href="#">tapi2p</a></li>
						<li><a href="#chat">Chat</a></li>
						<li><a href="#peers">Peers</a></li>
						<li><a href="#files">Files</a></li>
						<li><a href="#downloads">Downloads</a></li>
						<li><a class="pure-menu-heading" href="#settings">Settings</a></li>
						<li><a href="#account-settings">Account settings</a></li>
						<li><a href="#sharedfiles-settings">Shared files</a></li>
						<li><a href="#network-settings">Network settings</a></li>
					</ul>
				</div>
			</div>
			<div id="main">
				<div id="tapi2p-main" class="content"></div>
			</div>
		</div>
		<script src="js/ui.js"></script>
	</body>
</html>

<script src="js/tapi2p-backbone.js"></script>
